<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{{!-- Page Navigation --}}
<div class="pageHeader">
    <div class="card">
        <div class="row center">
            <button class="btn grey darken-3"><a href="/NorthQueue">Return to Queue</a></button>
            {{#if isAdmin}}
                <button class="btn grey darken-3"><a href="/deptPortal">Admin Control Panel</a></button>
            {{/if}}
        </div>
    </div>
</div>

<div class="row">
    <div class="inputColumn">
        <div class="card">
            <h4>Grade Portal</h4>
            <p>Select Course Below</p>
            {{!--<form action="/gradePortal/grades" method="GET" class="col s12">
                <div class="col">
                    <div class="input-field">
                        <select id="courseNumber" name="courseId">
                            <option value="111" id="courseId" name="courseId">111</option>
                            <option value="112" id="courseId" name="courseId">112</option>
                            <option value="211" id="courseId" name="courseId">211</option>
                        </select>
                        <label for="courseNumber">Course</label>
                    </div>
                </div>
                <div class="col">
                    <div class="input-field">
                        <select id="labSection" name="section">
                            <option value="1" id="section" name="section">1</option>
                            <option value="2" id="section" name="section">2</option>
                            <option value="3" id="section" name="section">3</option>
                            <option value="4" id="section" name="section">4</option>
                            <option value="5" id="section" name="section">5</option>
                            <option value="6" id="section" name="section">6</option>
                        </select>
                        <label for="test">Lab Section</label>
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" value="1" id="section" name="section">
                    <input type="submit" value="Non Functional" class="btn green">
                </div>
            </form> --}}

            <form action="/gradePortal/111" method="GET" class="col s12">
                <div class="row">
                    <input type="submit" value="CSCI 111" class="btn green">
                </div>
            </form>
            <form action="/gradePortal/112" method="GET" class="col s12">
                <div class="row">
                    <input type="submit" value="CSCI 112" class="btn green">
                </div>
            </form>
            <form action="/gradePortal/211" method="GET" class="col s12">
                <div class="row">
                    <input type="submit" value="CSCI 211" class="btn green">
                </div>
            </form>

            <h6>Adler Lab Queue</h6>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Date Submitted</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Section</th>
                        <th>Grader</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each grades}}
                        <tr>
                            <td>{{formatDate dateSubmitted 'MM-D-YYYY: hh:mm a'}}</td>
                            <td>{{studentName}}</td>
                            <td>{{courseNumber}}</td>
                            <td>{{section}}</td>
                            <td>{{taGrader}}</td>
                            <td>{{labGrade}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>